.headerpicture {
    position: relative;
    height: 780px;
    padding: 20px;
    margin: 0;
    background-image: url("../../Images/header_pic.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    opacity: 0.9;
  }

.headerpicture h1 {
    color:rgb(86, 134, 223);
}