
  .active {
    font-weight: bold;
    fill: rgb(14, 13, 13);
    transition: fill 0.3s ease-out;
    text-anchor: left;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: left;
  }
  
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }
  
  /* font size dependent on radius, see app.js */
  .stateText {
    font-family: sans-serif;
    font-size:10px;
    fill: rgb(7, 7, 7);
    text-anchor: middle;
  }
  
  /* .stateCircle {
    fill: #c0a6c5;
    stroke: #41095c;
  } */

  .stateCircle {
    stroke: black;
    opacity: 0.8;
  }
  
  .chart {
    display: block;
    margin: 0;
  }
  
  .d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }

  #Yselect {
    float:left;
  }
  
  #Xselect {
    float:right
  }

  .tooltip {
    padding: 6px;
    font-size: 13px;
    line-height: 1;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }