/* #nav1{  
    background-color: cadetblue;
    opacity: 0.5; 
    filter:(opacity=50);       
} */

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
    }

/* .graph {
    margin-bottom: 4px;
    width: 300px;
    height: 250px;
} */

.carousel {
    width: 500px;
    height: 400px;
}
/* .carousel-inner img {
    margin: auto;
  } */

/* .img-fluid {
    padding: 4rem;
    width: 300px;
    height: 250px;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  