<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radar Chart</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://zappa-l3mvw5yju.s3-us-west-1.amazonaws.com/static/css/radar_style.css">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent" id="nav1">
		<div class="container-fluid">
		  <a class="navbar-brand" href="index.html">
			<img src="https://zappa-l3mvw5yju.s3-us-west-1.amazonaws.com/static/popTart.png" alt="" width="30" height="24">
			Musical Attribute Analysis 
			</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ms-auto">
			  <li class="nav-item">
				<a class="nav-link" aria-current="page" href="index.html">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="data.html">API</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Machine Learning
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href="application.html">Application</a></li>
					<li><a class="dropdown-item" href="analysis.html">Results & Analysis</a></li>
					<li><a class="dropdown-item" href="method.html">Method</a></li>
				  </ul>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link" href="observations.html">Summary</a>
			  </li> -->
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Plots
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
				  <li><a class="dropdown-item" href="multiLine.html">Year vs Attributes</a></li>
				  <li><a class="dropdown-item" href="scatter.html">Genre Scatter Plot</a></li>
				  <li><a class="dropdown-item" href="radar.html">Artist Radar Chart</a></li>
				  <li><a class="dropdown-item" href="observations.html">Summary</a></li>
				</ul>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="about.html">About Us</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

</head>
<body>
	<br>

	<div class="container">

		  <div class="row justify-content-between">
			<div class="col-sm-5">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Enter Artist 1</h5>
				  <form id="form1">
					<div class="mb-3">
					  <!-- <label for="artist" class="form-label">Enter Artist 1</label> -->
					  <input class="form-control" id="artist1-name" type="text" placeholder="Artist 1">
					</div>
					<button type="submit" class="btn btn-primary">Filter By Artist</button>
				  </form>
				  <br>
				  <div class="col align-self-center" id="artist1-card">
					<div class="card-header">
					  Artist Info
					</div>
					<div class="card-body">
					  <h5 class="card-title" id="name1">Artist 1 Name</h5>
					  <p class="card1-text" id="artist1-info">
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-sm-5">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Enter Artist 2</h5>
				  <form id="form2">
					<div class="mb-3">
					  <!-- <label for="artist" class="form-label">Enter Artist 2</label> -->
					  <input class="form-control" id="artist2-name" type="text" placeholder="Artist 2">
					</div>
					<button type="submit" class="btn btn-primary">Filter By Artist</button>
				</form>
				<br>
				<div class="col align-self-center" id="artist2-card">
					<div class="card-header">
					  Artist Info
					</div>
					<div class="card-body">
					  <h5 class="card-title" id="name2">Artist 2 Name</h5>
					  <p class="card2-text" id="artist2-info">
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>


		<div class="row justify-content-evenly">
		</div>
			
				<div id="radar"></div>
	</div>
			
		<!-- </div> -->
		
		<div class="row row-cols-auto justify-content-md-center">
			
			<p>
				This is a student project; we are not collecting any data. Spotify widgets do collect user data. See <a href="https://developer.spotify.com/documentation/widgets/terms/">spotify terms.</a>
			</p>
			<br>
		</div>	
	
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- <script type="text/javascript" src="https://zappa-l3mvw5yju.s3-us-west-1.amazonaws.com/static/js/csv_radar.js"></script> -->
	<!-- <script type="text/javascript" src="https://zappa-l3mvw5yju.s3-us-west-1.amazonaws.com/static/js/test_radar.js"></script> -->
	<script type="text/javascript" src="https://zappa-l3mvw5yju.s3-us-west-1.amazonaws.com/static/js/api_radar.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

	
</body>
</html>